.add-files-btn {
    float: right;
}

:host {
    heigth: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.actions {
    justify-content: flex-end;
    position: relative;
}

.container {
    height: 100%;
}